body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    color: #fafafa;
    font-family: montserrat, sans-serif;
    background-color: #1a1a1a;
    overflow-x: hidden
}
.connecting-dots {
    margin: 0px;
    border: 1px solid limegreen;
    background-color: #1a1a1a;
    display: block;
    height: 100%;
    width: 100%;
}

canvas {
    box-sizing: inherit;
}

.home {
    display: flex;
    text-align: center;
}

.landing {
    position: relative;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    display: inline-block;
    
}

.line-1 {
    position: absolute;
    color: white;
    font-size: 40px;
}

.landing span {
    position: absolute;
    color: teal;
    
}

.nav-bar {
    text-align: right;
    background-color: rgba(40,40,40,0.95);
    color: #fafafa;
}

.nav-list {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
   
}

.nav-list li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    float: right;
    width: auto;
}