body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    color: #fafafa;
    font-family: montserrat, sans-serif;
    background-color: #1a1a1a;
    overflow-x: hidden;
    height: 4000px;
}

html {
    scroll-behavior: smooth;
}
.connecting-dots {
    margin: 0px;
    border: 1px solid teal;
    background-color: #1a1a1a;
    display: block;
    height: 100%;
    width: 100%;
}

canvas {
    box-sizing: inherit;
}

.home {
    position: relative;
    text-align: center;
    position: relative;
}

.landing {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 350px;
}

.line-1 {
    position: relative;
    color: white;
    font-size: 60px;
    animation-name: line-1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes line-1 {
    0% {
        opacity: 0;
        left: -100px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}

.line-2 {
    position: relative;
    color: white;
    font-size: 60px;
    animation-name: line-2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes line-2 {
    0% {
        opacity: 0;
        right: -100px;
    }
    100% {
        opacity: 1;
        right: 0px;
    }
}

.landing span {
    color: teal;
    
}

.btn {
    opacity: .8;
    position: relative;
    color: teal;
    border: teal 2px solid;
    background-color: #1a1a1a;
    font-size: 35px;
    margin-top: 10px;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    animation: btn;
    animation-duration: 1.5s;
    /*animation-delay: 1s;*/
    transition: all;
    transition-duration: 1.5s;
}

@keyframes btn {
    0% {
        opacity: 0;
        bottom: -100px;
    }
    100% {
        opacity: .8;
        bottom: 0px;
    }
}

.btn:hover {
    color: orange;
    border-color: orange;
    cursor: pointer;
    top: -1px;
    right: -1px;
}

@keyframes btnhover {
    0% {
        color: teal;
        border-color: teal;
    }
    50% {
        color: white;
        border-color: white;
    }
    100% {
        color: orange;
        border-color: orange;
    }
}

.nav-bar {
    text-align: right;
    background-color: rgba(40,40,40,0.95);
    color: #fafafa;
    position: sticky;
    top: 0px;
    border-top: teal 2px solid;
}

.nav-list {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
   
}

.nav-list li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    float: right;
    width: auto;
}

.nav-list li:hover {
    color: teal;
    cursor: pointer;
}