/* Need some sort of trigger */

body {
    background-color: #333;
}

.box { 
    background: wheat;
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    top: 200px;
    /*TRANSITIONS (can just us "all" for the transition-properties)*/
    transition-property: background , border-radius, transform;
    transition-duration: 1.5s;
    /*transition-delay: 2s;*/
    transition-timing-function: linear;
    
}

.box:hover {
    background-color: rebeccapurple;
    border-radius: 50%;
    transform: rotateY(180deg);
}